<a href="https://colab.research.google.com/github/BiancaPedrosa/datascience/blob/master/C%C3%B3pia_de_Bootcamp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Projeto Módulo I Bootcamp Alura 
Bianca Pedrosa
Análise dos casos de turbeculose no estado de SP entre 2009 - 2018

Importação de bibliotecas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Leitura dos dados

In [ ]:
url="/content/TB_2009_2018.csv"

dados = pd.read_csv(url, encoding="ISO-8859-1", engine='python',
                   sep=";",thousands=".", decimal=",", index_col=0).drop('Total', axis=1)
dados.head()

                 Unnamed: 1 2009     Pop. 2010  ...  2017   Pop..8  2018   Pop..9
Municpio                                       ...
ADAMANTINA          3500105    5  34424.0    5  ...     5  35139.0     5  35023.0
ADOLFO              3500204    -   3710.0    -  ...     2   3609.0     -   3571.0
AGUAê               3500303    8  32101.0   14  ...     7  35508.0     3  35954.0
çGUAS DA PRATA      3500402    -   7734.0    -  ...     1   8104.0     1   8137.0
çGUAS DE LINDîIA    3500501    2  16341.0    3  ...     5  18509.0     2  18599.0

[5 rows x 21 columns]