<a href="https://colab.research.google.com/github/BiancaPedrosa/datascience/blob/master/C%C3%B3pia_de_Bootcamp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Projeto Módulo I Bootcamp Alura
Bianca Pedrosa
Análise dos casos de turbeculose no estado de SP entre 2009 - 2018

Importação de bibliotecas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Leitura dos dados

In [5]:
#tabela completa
url="https://raw.githubusercontent.com/BiancaPedrosa/datascience/master/dados/A172345189_28_143_208.csv"


dados = pd.read_csv(url, encoding="ISO-8859-1", engine='python',skiprows=3, skipfooter=18, sep=";",thousands=".", decimal=",", index_col=0)
dados

                              1980 1981 1983 1984  ...   2018 2019 2020   Total
Município de notificação                           ...
350010 Adamantina                -    -    -    -  ...      4    -    -      50
350020 Adolfo                    -    -    -    -  ...      -    -    -       6
350030 Aguaí                     -    -    -    -  ...      3    -    -      87
350050 Águas de Lindóia          -    -    -    -  ...      2    -    -      19
350055 Águas de Santa Bárbara    -    -    -    -  ...      2    -    -       5
...                            ...  ...  ...  ...  ...    ...  ...  ...     ...
355695 Vitória Brasil            -    -    -    -  ...      -    -    -       5
355700 Votorantim                -    -    -    -  ...     45    -    -     362
355710 Votuporanga               -    -    -    -  ...     24    -    -     220
355715 Zacarias                  -    -    -    -  ...      -    -    -       2
Total                            1    2    3    1  ...  22189  715    6  198153

[621 rows x 38 columns]

Tratando a ausência de dados

In [6]:
dados = dados.replace('-', np.nan)
dados.head()

                              1980 1981 1983 1984  ... 2018 2019 2020 Total
Município de notificação                           ...
350010 Adamantina              NaN  NaN  NaN  NaN  ...    4  NaN  NaN    50
350020 Adolfo                  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN     6
350030 Aguaí                   NaN  NaN  NaN  NaN  ...    3  NaN  NaN    87
350050 Águas de Lindóia        NaN  NaN  NaN  NaN  ...    2  NaN  NaN    19
350055 Águas de Santa Bárbara  NaN  NaN  NaN  NaN  ...    2  NaN  NaN     5

[5 rows x 38 columns]

Conferindo as células sem valor

In [7]:
dados.T.info()
dados.isnull().sum().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 1980 to Total
Columns: 621 entries, 350010 Adamantina to Total
dtypes: object(621)
memory usage: 185.9+ KB

18351

In [8]:
dados = dados.astype('float64')
dados.head()

                               1980  1981  1983  1984  ...  2018  2019  2020  Total
Município de notificação                               ...
350010 Adamantina               NaN   NaN   NaN   NaN  ...   4.0   NaN   NaN   50.0
350020 Adolfo                   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN    6.0
350030 Aguaí                    NaN   NaN   NaN   NaN  ...   3.0   NaN   NaN   87.0
350050 Águas de Lindóia         NaN   NaN   NaN   NaN  ...   2.0   NaN   NaN   19.0
350055 Águas de Santa Bárbara   NaN   NaN   NaN   NaN  ...   2.0   NaN   NaN    5.0

[5 rows x 38 columns]

Selecionando as colunas usáveis

In [16]:
dados_usaveis = dados.loc[:,'2009':'2018']
dados_usaveis

                                  2009     2010  ...     2017     2018
Município de notificação                         ...
350010 Adamantina                  5.0      5.0  ...      5.0      4.0
350020 Adolfo                      NaN      NaN  ...      1.0      NaN
350030 Aguaí                       7.0     12.0  ...      7.0      3.0
350050 Águas de Lindóia            2.0      1.0  ...      5.0      2.0
350055 Águas de Santa Bárbara      NaN      NaN  ...      NaN      2.0
...                                ...      ...  ...      ...      ...
355695 Vitória Brasil              NaN      1.0  ...      NaN      NaN
355700 Votorantim                 39.0     36.0  ...     36.0     45.0
355710 Votuporanga                24.0     32.0  ...     19.0     24.0
355715 Zacarias                    NaN      1.0  ...      1.0      NaN
Total                          17291.0  18214.0  ...  22018.0  22189.0

[621 rows x 10 columns]

In [ ]:
#Plotando os dados de Campinas
dados_campinas= dados.loc['350950 Campinas', '2009':'2018']
dados_campinas.plot(figsize=(10, 6),marker='o')