<a href="https://colab.research.google.com/github/BiancaPedrosa/datascience/blob/master/Notebooks/Bootcamp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Projeto Módulo I Bootcamp Alura 
Bianca Pedrosa
Análise dos casos de turbeculose no estado de SP entre 2009 - 2018

Importação de bibliotecas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Leitura dos dados

In [13]:
url="https://raw.githubusercontent.com/BiancaPedrosa/datascience/master/dados/Tabela%20TB%202009%20a%202018.csv"

dados = pd.read_csv(url, encoding="ISO-8859-1", engine='python',
                   sep=";",thousands=".", decimal=",", index_col=0).drop('Total', axis=1)
dados

                 Unnamed: 1   2009     Pop.  ...   Pop..8   2018   Pop..9
Municpio                                    ...
ADAMANTINA          3500105      5  34424.0  ...  35139.0      5  35023.0
ADOLFO              3500204      -   3710.0  ...   3609.0      -   3571.0
AGUAê               3500303      8  32101.0  ...  35508.0      3  35954.0
çGUAS DA PRATA      3500402      -   7734.0  ...   8104.0      1   8137.0
çGUAS DE LINDîIA    3500501      2  16341.0  ...  18509.0      2  18599.0
...                     ...    ...      ...  ...      ...    ...      ...
VOTUPORANGA         3557105     20  81279.0  ...  92768.0     19  93736.0
ZACARIAS            3557154      1   2427.0  ...   2636.0      -   2684.0
NaN                   TOTAL  17807      NaN  ...      NaN  22225      NaN
NaN                     NaN    NaN      NaN  ...      NaN    NaN      NaN
NaN                     NaN    NaN      NaN  ...      NaN    NaN      NaN

[648 rows x 21 columns]